table {
    width: 100%;
}

.table-container {
    height:60vh ;
    overflow: auto;
}

.avatar {
    width:60px;
    height:60px;
    border-radius: 50px;
}

.btn-new {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: #517fdc;
}