
   <!-- <div>
        <img  class="camisa" src="https://http2.mlstatic.com/D_NQ_NP_2X_668417-MLB51563074391_092022-F.webp" alt="Camisa do Brasil">
        <h2 class="center">Camisa do Brasil </h2>
    
        <p id="margin">Material Dry Fit 100% poliéster, muito leve e confortável </p>
        
        <h3 class="center">  R$: 100</h3>

        <button class="btn">ADD TO CART</button>
        
   </div>  -->

    <section>
        <div class="img-container">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_668417-MLB51563074391_092022-F.webp" alt="Camisa do Brasil">
        </div>
        <div class="product-data">
            <h2>Camisa do Brasil</h2>
            <p>Camisa oficial Marca SW Sport</p>
            <strong>R$ 100</strong>
            
        </div>
        <button>Adicionar ao carrinho</button>
    </section>
